// #region [ Declarations ]

    // #region [ Colors ]
    @white: #fcfcfc;
    @gray: #333333;
    @blue: #0033cc;

    @bodyColor: @gray;
    // #endregion

// #endregion

// #region [ Structure ]
*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
}

html {
    margin: 0;
    padding: 0;
}

body {
    color: @bodyColor;

    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;

    margin: 0;
    padding: 0;
}
// #endregion