// #region [ Declarations ]

    // #region [ Colors ]
    @white: #fcfcfc;
    @gray: #333333;
    @blue: #003399;

    @bodyBgColor: @white;
    @bodyColor: @gray;
    @headerBgColor: @blue;
    @footerBgColor: @blue;
    // #endregion

// #endregion

// #region [ Structure ]
*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: @bodyBgColor;
    color: @bodyColor;

    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;

    margin: 0;
    padding: 0;
}

header {
    background-color: @headerBgColor;

    height: 80px;
}

main {
    min-height: 300px;
}

footer {
    background-color: @footerBgColor;

    height: 80px;
}
// #endregion